* {
    border: solid;
    border-color: red;
}

body {
    width: 1000px;;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-options {
    display: flex;
    flex: 2;
    list-style: none;
}

#nav-options>li {
    margin-right: 20px;
}