/* General */
* {
    margin: 0px
}

body {
    width: 1000px;
    font-family: Roboto, sans-serif;
}

/* Nav-Bar */
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 150px;
    background-color: black;
    color: white;
}

.nav-options {
    display: flex;
    flex: 2;
    list-style: none;
}

.nav-options>li {
    margin-right: 20px;
    color: grey;
}

#active {
    color: white;
}

#sign-out-button {
    background-color: lightseagreen;
    color: white;
    padding-right: 10px;
}

/* Page Content */
#page-content {
    display: flex;
    flex-direction: row;
    padding: 20px 150px;
}

#column-1 {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 200px;
    margin-right: 20px;
}

#column-2 {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 200px;
}

/* User Card */
#user-card {
    display: flex;
    flex-direction: column;
    border-color: lightgrey;
    border-radius: 5px;
}

#user-card-top {
    background-color: lightseagreen;
}

#profile-pic {
    width: 70px;
    border: solid;
    padding: 3px;
    border-color: lightgrey;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 45px;
    left: 25px;
}

#user-card-bottom {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 0px;
}

.icon-with-text {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.icon {
    width: auto;
    height: 20px;
    padding-right: 10px;
}

/* Education Card */
#education {
    padding-top: 20px;
}

.section-heading {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

#education-contents {
    padding: 0px 20px;
}

#edu-date {
    color: grey;
    padding-bottom: 5px;
}

/* Connection Requests */
.centered-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notification-number {
    background-color: lightgrey;
    color: black;
    border: solid;
    border-color: lightgrey;
    padding: 0px 5px;
    border-radius: 50%;
}

.connection-request {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connection-pic {
    width: 40px;
    border: solid;
    padding: 3px;
    border-color: lightgrey;
    border-radius: 50%;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

.button {
    width: auto;
    height: 30px;
}

/* Your Connections */
#your-connections {
    padding-top: 20px;
}

.connection {
    display: flex;
    align-items: center;
}

#view-more-link {
    display: flex;
    padding: 10px 10px;
}