* {
    margin: 0 auto;
    padding: 0;
    /* border: solid red; */
}

body {
    width: 800px;
    font-family: Roboto, sans-serif;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

#feed-heading {
    text-align: center;
    margin-top: 20px;
}

#page-content {
    display: flex;
    flex-direction: row;
}

/* User Card */
#user-card {
    height: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid black;
    margin: 20px;
    margin-left: 0px;
}

#user-card>img {
    width: 70px;
}


/* Posts */
#posts {
    flex: 3;
}

.post-card {
    display: flex;
    flex-direction: column;
    border: solid black;
    margin: 20px 0px;
    padding: 20px;
}

.post-card>p {
    width: 100%;
}

.post-card-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.post-card-top>h2 {
    flex: 2;
}

.like-button {
    background-color: gold;
    padding: 5px 15px;
    border: solid black;
    box-shadow: 2px 2px;
    cursor: pointer;
}